@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// Ustawienie zmiennej dla przesunięcia childButton z floatingMenu
$przesuniecieGitHub: 30px;

:root {
  --secondary-color: rgb(52, 66, 112);
  --almost-black: rgb(45, 45, 45);
  --text-color: rgb(255, 255, 255);
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main_container {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_landingPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_template {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_Profile {
  background: linear-gradient(80deg, rgb(117, 185, 212), rgb(10, 20, 114));
  background-size: 200% 200%;
  animation: gradientBackground 15s ease infinite;
  width: 100%;
  display: flex;
    gap: 50px;
  height: 100%;
}

.header {
    z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--almost-black);
}

.header_section_logo {
  width: 200px;
  height: auto;
}
.header_section_logo_img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.header_section_nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header_section_nav_links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.header_section_nav_link {
  text-decoration: none;
  color: white;
  //   background-color: var(--secondary-color);
  padding: 11px 17px;
  border-radius: 15px;
  transition: 0.2s ease;
}
.header_section_nav_link:hover {
  transform: scale(1.1);
}

.header_section_nav_lang_btn {
  background: var(--almost-black);
  border: 1px solid var(--almost-black);
  color: white;
  padding: 11px 17px;
  //   border-radius: 15px;
  transition: 0.2s ease;
  cursor: pointer;
}

.header_section_nav_lang_btn:hover {
  transform: scale(1.1);
}

.header_section_nav_lang {
  display: flex;
  align-items: center;
}

.child {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.child_main{
  background: linear-gradient(80deg, rgb(117, 185, 212), rgb(10, 20, 114));
  background-size: 200% 200%;
  animation: gradientBackground 15s ease infinite;
}

.footer {
    z-index: 2;
  min-height: 40px;
  padding: 10px 20px;
  background-color: var(--almost-black);
  color: white;

  .footer_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .footer_section_socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    .footer_section_socialMedia_textMain {
      display: flex;
      flex-direction: column;
    }
    .footer_section_socialMedia_findUs {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }

  .footer_section_socialMedia_textMain_main {
    font-weight: bold;
    font-size: 20px;
  }

  .footer_section_socialMedia_findUs_icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .footer_right {
    a,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
      text-decoration: none;
    }

    display: flex;
    flex-direction: row;
    gap: 20px;
    min-height: 100px;
    height: 100%;
    align-items: center;

    .footer_section_title {
      font-weight: bold;
      font-size: 16px;
    }

    .footer_section_register {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .footer_section_register_buttons {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-decoration: none;
        text-transform: none;
      }
    }
  }
}

.floatingMenu {
  position: relative;
  // background-color: red;

  // Pętla generująca reguły CSS dla każdego elementu z klasą .floatingChild
  .floatingChildGithub {
    position: absolute;
  }
  .floatingChildGithub:nth-child(2) {
    transform: translate(0px, -50px) !important;
  }
  .floatingChildGithub:nth-child(3) {
    transform: translate(0px, -100px) !important;
  }

  .floatingChildGithub:nth-child(4) {
    transform: translate(0px, -150px) !important;
  }
}

.loginExample{
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  // border: 1px solid black;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  padding: 45px 35px;
  display: flex;
  flex-direction: column;
}

.landingPageWelcomeContainer {
  background: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 142));
  background-size: 200% 200%;
  animation: gradientBackground 15s ease infinite;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;

  .landingPageWelcomeDescription {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: left;

    .landingPageWelcomeDescription_mainText {
      width: 100%;
      font-size: 48px;
      // font-family: 'Poppins', sans-serif;
      font-weight: bold;
      color: black;
      max-width: 450px;
    }
    .landingPageWelcomeDescription_secondText {
      width: 100%;
      font-size: 18px;
      max-width: 450px;
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .landingPageWelcomeDescription_button {
      max-width: 450px;
      text-decoration: none;
      color: white;
      background-color: var(--almost-black);
      padding: 11px 8px;
      border-radius: 15px;
      transition: 0.2s ease;
    }
    .landingPageWelcomeDescription_button:hover {
      transform: scale(1.2);
    }
  }

  .landingPageWelcomeImage {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .landingPageWelcomeImageImg {
      width: 100%;
      height: auto;
    }
  }
}

.landingPageOpinion {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  .landingPageOpinion_opinion {
    font-size: 26px;
    color: black;
    font-style: italic;
  }
  .landingPageOpinion_person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .landingPageOpinion_personImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
  }
  .landingPageOpinion_personName {
    font-size: 18px;
  }
}

.child1 {
  min-height: 75vh;
}

.imageIcon > img {
  border-radius: 50%;
}
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login,
.register {
  background: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 35));
  background-size: 200% 200%; /* Extend the size of the gradient for a smooth transition */
  animation: gradientBackground 15s ease infinite; /* Apply the animation */
  padding: 20px 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  // min-height: 100vh;

  .loginspan {
    color: var(--almost-black);
    font-size: 30px;
  }

  .form {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    // border: 1px solid black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 45px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
      padding: 15px;
      color: var(--text-color);
      letter-spacing: 0.5px;
      outline: none;
      border: none;
    }

    label {
      display: block;
      margin-top: 15px;
      font-size: 16px;
      font-weight: 500;
    }
    input {
      display: block;
      height: 50px;
      width: auto;
      border-radius: 15px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
      color: var(--text-color);
      background-color: transparent;
      border: 1px solid var(--text-color); /* Ustawienie tła jako przezroczyste */
    }
    input::placeholder {
      background-color: transparent;
      color: var(--text-color);
    }
    input:focus {
      outline: none;
    }
    input:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
      color: var(--text-color);
      -webkit-box-shadow: 0 0 0 30px transparent inset !important;
      -webkit-text-fill-color: white !important;
    }

    .button {
      padding: 8px 15px;
      background-color: var(--almost-black);
      color: #fff;
      border: none;
      border-radius: 15px;
      font-size: 15px;
      width: fit-content;
      cursor: pointer;
      transition: 0.2s ease;
    }
    .button:hover {
      transform: scale(1.1);
    }
  }
}

.AccountProfileMain {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
   background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    // border: 1px solid black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 20px 35px;
}

.AddTweet{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
    padding: 20px 35px;


    button {
      appearance: none;
      background-color: transparent;
      border: 0.125em solid #1A1A1A;
      border-radius: 0.9375em;
      box-sizing: border-box;
      color: #3B3B3B;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 10px;
      // min-height: 3.75em;
      min-width: 0;
      outline: none;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      will-change: transform;
     }
     
     button:disabled {
      pointer-events: none;
     }
     
     button:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
     }
     
     button:active {
      box-shadow: none;
      transform: translateY(0);
     }
}
.AddTweetInputDiv{
  width: 420px;
  height: 50px;
}

#addTweetTextarea{
  width: 100%;
  height: 100%;
  resize: none;
  background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    // border: 1px solid black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTweetBtn{
  color: white;
  background-color: white;
}

.tweets{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.tweet{
  width: 400px;
}



.ProfileRightSide {
  width: 60%;
  padding: 30px;
  gap: 50px;
  display: flex;
    flex-direction: column;
}

.ProfileLeftSide {
  width: 40%;
  padding: 30px;
}

.AccountProfileAvatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.AccountProfileName {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: var(--text-color);
}

.AccountProfileMainStats {
  border-radius: 25px;
  border: 2px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: fit-content;
}

.AccountProfileStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--text-color);
}

.FollowingMain {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  h2{
  color: var(--text-color);
  }
}

.followingBox {
  display: flex;
  background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    // border: 1px solid black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 20px 35px;
  border-radius: 15px;
  flex-direction: column;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  border-bottom: 1px solid rgb(184, 184, 184);
}

.followName {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.followAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.zindexspan{
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--text-color);
    font-size: 5rem;
    font-weight: bold;
    rotate: 30deg;
}

.followIcon{
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.2s ease;
}

.followIcon:hover{
    transform: scale(1.2);
}

.error-message {
    color: white;
    background-color: red;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

@media (width < 1000px) {


  .loginspan{
    font-size: 18px !important;
  }

  .header{
    font-size: 10px;
  }

  .landingPageWelcomeDescription{
    padding-left: 2rem;
  }

  .footer{
    padding: 5px;
    font-size: 10px;
  }

  .landingPageWelcomeDescription_secondText{
    flex-direction: column;
    align-items: flex-start !important;
    font-size: 15px;
    gap: 5px;
  }

  .landingPageWelcomeDescription_button{
    padding: 8px !important;
  }

  .form{
    padding: 15px !important;
  }

  .login{
    padding: 20px !important;
  }

  .dontHaveAcc{
    font-size: 10px;
  }

  .loginExample{
    padding: 15px;
  }

  .tweet{
    width: 80%;
  }

  .AddTweet{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .AddTweetInputDiv{
    width: 80%;
    height: 100%;
    padding: 10px;
  }

  #addTweetTextarea{
    width: 80%;
    padding: 20px;
    overflow-y: hidden;
  }

  .dashboardHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header_section_nav{
    font-size: 10px;
  }

  .header_section_nav_lang_btn{
    font-size: 10px;
  }

  .header_section_logo_img{
    width: 100px;
  }

  .header{
    padding: 5px;
  }

  .header_section_nav_link{
    width: auto;
    text-wrap: wrap;
  }
  .header_section_nav_links{
    gap: 0;
  }

  .main_Profile{
    flex-direction: column;
    height: 100vh;
    align-items: center;
    display: flex;
    padding-top: 20px;
    gap: 0;
  }

  .AccountProfileName{
    font-size: 10px;
  }

  .ProfileLeftSide{
    width: 100%;
  }

  .child_main{
    overflow-x: hidden;

  }

  .ProfileLeftSide{
    padding: 0;
  }

  .AccountProfileMainStats{
    font-size: 10px;
  }

  .ProfileLeftSide{
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .AccountProfileMain{
    padding: 10px;
    width: 80%;
  }
.followingBox{
  font-size: 10px;
}

.FollowingMain{
  width: 100%;
}

.ProfileRightSide{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zindexspan{
  display: none;
}

.follow{
  margin: 0;
  height: inherit;
}

.AccountProfileMain{
  padding: 20px;
}

.followAvatar{
  height: 20px;
  width: 20px;
}

.followingFollowersSpan{
  padding: 5px;
  color: white;
}

}